<IfModule mod_headers.c>

<FilesMatch "\.(ico|pdf|flv|woff|woff2|ttf|otf|eot)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|swf|svg)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<FilesMatch "\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=604800, proxy-revalidate"
</FilesMatch>

</IfModule>
#ErrorDocument 404  http://artstyle.dorohovdesign.ru/404.html