@maket: url(/img/maket/blog.jpg) no-repeat center 0px;
@opacity: 0.7;
html{
	background: @maket;  
	opacity: @opacity;
    //background-size: 1920px auto;
    background-position: -33px 6px;
	//opacity: 0.3;
	//min-height: 8000px;    
} 