@maket: url(/img/maket/objects-card.jpg) no-repeat center 0px;
@opacity: 0.7;
html{
	background: @maket;  
	//opacity: @opacity;
    //background-size: 1920px auto;
    background-position: center 7px;
	//opacity: 0.3;
	//min-height: 8000px;    
} 