@maket: url(/img/maket/text.jpg) no-repeat center 0px;
@opacity: 0.35;
html{
	background: @maket;  
	//opacity: @opacity;
    //background-size: 1920px auto;
    background-position: center -6px;
	//opacity: 0.3;
	//min-height: 8000px;    
} 