body {
	font-family: @b-ff;	
	font-size: @b-fs;
	line-height: @b-lh;
}
h1, h2, h3, h4, h5, h6{ 
	//font-family: @b-h-ff; 
	margin: 0 0 10px;
}
i, em{font-style: italic;}
b, strong{font-weight: 700}
h1{
	font-family: @geometria;
	font-weight: 800;
}
h2{
	font-family: @geometria;
	font-weight: 800;
	.calcFontSize(24, 34, 320, 1680);
	.calcLineHeight(32, 42, 320, 1680);
}
h3{
	font-family: @geometria;
	font-weight: 700;
	.calcFontSize(20, 30, 320, 1680);
	.calcLineHeight(28, 38, 320, 1680);
}
h4{
	font-weight: 700;
	.calcFontSize(18, 24, 320, 1680);
	.calcLineHeight(26, 36, 320, 1680);	
}
h5{
	font-weight: 400;
	.calcFontSize(16, 20, 320, 1680);
	.calcLineHeight(24, 28, 320, 1680);	
}
h6{
	font-weight: 400;
	.calcFontSize(14, 18, 320, 1680);
	.calcLineHeight(22, 24, 320, 1680);	
}

.heading-index-block{
	text-transform: uppercase;   
	letter-spacing: 4px;
	.calcFontSize(26, 54, 320, 1680);
	.calcLineHeight(40, 68, 320, 1680);
	margin: 0 0 10px; 
	@media @media-size-xs{letter-spacing: 2px;}
}	
.heading-small-index-block{
	letter-spacing: 0.3px;
	.calcFontSize(18, 23, 320, 1680);
	.calcLineHeight(21, 26, 320, 1680); 
	@media @media-size-xs{br{display: none;} margin-bottom: 20px;}
	@media @media-screen{margin-bottom: 2vw}
}	
.heading-block{
	justify-content: space-between;
}
.heading-page__block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media @media-device{flex-wrap: wrap; margin-bottom: 35px;}
	@media @media-screen{margin-bottom: 3vw;}
	.heading-page{
		margin-bottom: 0;
		@media @media-size-xs{margin-bottom: 15px; width: 100%;}	
	}
}
.heading-page__hgroup{	
	.heading-page{margin-bottom: 5px;}
	@media @media-device{margin-bottom: 35px;}
	@media @media-screen{margin-bottom: 3vw;}	
	&.flex{		
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-items: flex-start;
		@media @media-device{flex-wrap: wrap;}
	}
}
.heading-page{
	text-transform: uppercase;
	.calcFontSize(22, 42, 320, 1680);
	.calcLineHeight(32, 52, 320, 1680);
	letter-spacing: 2px;	
	&.line{
		position: relative;
		span{
			position: relative;
			background: @white;
			z-index: 2;
			padding-right: 3.5vw;
			display: inline-block;
		}
		&::after{
			content: '';
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 1px;
			right: 0px;
			top: ~"calc(50% - 1px)";
			background: @blue-light;
		}
	}
}
.heading-page-small{
	.calcFontSize(16, 20, 320, 1680);
	.calcLineHeight(22, 26, 320, 1680);
	letter-spacing: 0.5px;	
}
.heading-line{
	font-weight: 700;
	.calcFontSize(20, 30, 320, 1680);
	.calcLineHeight(28, 38, 320, 1680);
	letter-spacing: 0.5px;
	position: relative;
	@media @media-device{margin-bottom: 25px;}
	@media @media-screen{margin-bottom: 2vw;}
	span{
		position: relative;
		background: @white;
		z-index: 5;
		display: inline-block;
		@media @media-device{padding-right: 3.5vw;}
		@media @media-screen{padding-right: 1.5vw;}
	}
	&::after{
		content: '';
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 1px;
		right: 0px;
		top: ~"calc(50% - 1px)";
		background: @blue-light;
	}	
}
.text-container{max-width: 960px;}
.text-block{
	max-width: 960px;
	//font-weight: 300;
	.calcFontSize(14, 16, 320, 1680);
	.calcLineHeight(22, 24, 320, 1680);
	p, div, ul, ol, blockquote{margin-bottom: 20px;}
	h1, h2, h3, h4{
		@media @media-device{margin-bottom: 25px;}
		@media @media-screen{margin-bottom: 1vw;}		
	}
	div + h2,
	p + h2,
	ul + h2,
	ol + h2,
	blockquote + h2,
	table + h2,
	div + h3,
	p + h3,
	ul + h3,
	ol + h3,
	blockquote + h3,
	table + h3,
	div + h4,
	p + h4,
	ul + h4,
	ol + h4,
	blockquote + h4,
	table + h4{		
		@media @media-device{padding-top: 25px;}
		@media @media-screen{padding-top: 2vw;}
	}	
	.table{ 
		border: 0; 
		thead td,
		thead th,
		th{
			font-weight: 700;
			text-align: center;
			.calcFontSize(16, 20, 320, 1680);
			.calcLineHeight(22, 26, 320, 1680);

		}
		td, th{
			border: 0;
			border-bottom: 2px solid @blue-light;
			padding: 10px 15px;
		}
		tr:last-child{
			td{
				border: 0;				
			}
		}
	}
	.youtube-frame{
		width: 100%;
		height: 100vh;
		max-width: 800px;
		max-height: 400px;
		iframe{
			width: 100%!important;
			height: 100%!important;
		}
	}
}
ol{
	margin-left: 20px;
}
ul{
	margin-left: 20px;
	&.ul-site{
		list-style: none;
		margin-left: 0;
		li{
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px; 
			&:last-child{margin-bottom: 0;}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 8px;
				background: @b-color-a;
				width: 6px;
				height: 6px;
				border-radius: 50%;
			}
		}
	}
}
.text-block blockquote,
blockquote {
	border-left: 2px solid @blue;
	padding: 0 0 0 25px;
	letter-spacing: 0.5px;
}
//old
/*
.text-block{
	div, p, ol, ul{margin-bottom: 10px;}
	div + h2,
	p + h2,
	ul + h2,
	ol + h2,
	blockquote + h2,
	table + h2,
	div + h3,
	p + h3,
	ul + h3,
	ol + h3,
	blockquote + h3,
	table + h3,
	div + h4,
	p + h4,
	ul + h4,
	ol + h4,
	blockquote + h4,
	table + h4,
	div + h5,
	p + h5,
	ul + h5,
	ol + h5,
	blockquote + h5,
	table + h5{
		padding-top: 30px;
	}

	h2,h3,h4{
		margin-bottom: 25px;
		color: @b-color;
	}
	h2{
	@media @media-screen	{font-size: @b-fs + 5px; line-height: @b-lh + 2px; letter-spacing: 1.5px;} 	// 25/30	
	}
	h3, h4{
		@media @media-screen	{font-size: @b-fs + 0px; line-height: @b-lh - 2px; letter-spacing: 1px;} 	// 20/26
	}
	a{	
		color: @b-color;
		transition: @transition-site;
		border-bottom: 1px solid fadeout(@black, 50%);
		&:hover{
			border-color: fadeout(@black, 100%);
		}	
		&[href^="tel:"]{
			&, &:focus, &:hover{
				color: @b-color;
				font-family: @code-lc;
				text-decoration: none;
				border-bottom: none; 
			}
		}
	}
	* + ol, * + ul{padding-top: 10px;}
	> ._tb__img{
		//padding-top: 45px;
		padding-bottom: 20px;
	}
	.table-responsive{
		padding-top: 20px;
		padding-bottom: 10px;
	}
}
*/